*,
*::before,
*::after {
  box-sizing: unset;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 0 0;
  width: 99%;
}

#logo img {
  height: 26px;
  width: 76px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

#right-top-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.top-text {
  padding-right: 15px;
  font-size: 13px;
}

.top-text a {
  padding: 5px;
  text-decoration: none;
  color: #212121;
}

.top-text a:hover {
  text-decoration: underline;
}

.top-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-div .nine-dots {
  display: block;
  max-width: 17px;
  max-height: 17px;
  padding: 10px 15px 10px 10px;
  z-index: 1;
  cursor: pointer;
}

.top-div span {
  position: absolute;
  margin-right: min(59px, 59px);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: none;
}

.top-div .nine-dots:hover + span {
  display: block;
}

.top-div .user-image {
  display: block;
  max-width: 39px;
  max-height: 39px;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
}

.appbar {
  font-size: 20px;
  margin: 25px 36px 15px 35px;
  color: #d93025;
  display: flex;
  align-items: flex-start;
}

.appbar label {
  width: 92vw;
  margin-left: 5px;
}

.gray-line {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

form {
  width: 95%;
  margin: 2.75em 0 0 35px;
}

.subtitle {
  width: 167px;
  font-size: 16px;
  margin-bottom: 0.75em;
}

#upper-search {
  display: flex;
  align-items: flex-start;
  width: 10em;
}

.row {
  margin: 12px 0px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.row input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  width: 40%;
  max-width: 570px;
  min-width: 190px;
  padding: 1px 8px;
}

.small-text {
  color: #222;
  font-size: 13px;
  width: 167px;
}

#numbers-search {
  display: flex;
  flex-direction: row;
  width: 41.5%;
  max-width: 586px;
  min-width: 186px;
  justify-content: space-between;
  align-items: baseline;
}

#small-input {
  max-width: 255px;
  min-width: 48px;
}

#to {
  margin: 0 1.6em;
  width: auto;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {
}

@media (min-width: 1400px) {
}
